* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


#main-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;   

}

#head-container {

    padding-bottom: 10%;
    width: 350px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid rgb(248, 226, 226); 
    gap: 1rem;
    
   

}
.head-icon{

    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
.text-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    gap: 0.5rem;
    width: 90%;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;


}
.text-container .head{
    font-size: 18px;
    font-weight: bold;
}
.text-container .audio{

    position: absolute;
    font-size: 30px;
    color: rgb(13, 13, 13);
    font-weight: bold;
    margin-top: 30px;

}
.img{

    width: 70%;
    height: 150px;
}
.timing{

    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}
.music-btn{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    color:gray;
}
.music-playing{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    gap: 1rem;
    margin-top: 5%;
}
.song-playlist{

    display: flex;
    justify-content: space-between;

}
.playing{
    font-weight: bold;
       
}